<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/partials/signin_style.css">
</head>
<body>
   
     <!-- <div class="image">
         <img src="https://static.wixstatic.com/media/84770f_0cf5b6c1550a4b8c92f92f1064cc68de~mv2.jpg/v1/fill/w_1225,h_804,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/84770f_0cf5b6c1550a4b8c92f92f1064cc68de~mv2.jpg" 
      alt="" width="100%"> -->
        <!-- <img src="https://images.pexels.com/photos/1181552/pexels-photo-1181552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt=""> -->
    <!-- </div>  -->
   <div class="form">
   
        <img src="https://images.pexels.com/photos/1181552/pexels-photo-1181552.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="">
    
     <form action="">
        <h2>LOGIN</h2>
        <div class="input_box">
            <input type="text" placeholder="Username" required>
            <i class='bx bxs-user'></i>
           
        </div>
        <div class="input_box">
            <input type="password" placeholder="password" required>
            <i class='bx bxs-lock'></i>
        </div>
        <button type="submit" class="btn"><b>Login</b></button><br><br>
        
        <div class="register">
             <p style="text-align: center; color: black;">Don't have an account Yet?<a href="/partials/register.html">Register</a></p>
        </div>

     </form>

   </div> 
</body>
</html>